.item {
    width: 500px;
    color: #353935;
    font-size: 20px;
    margin: 0 auto;
}

.itemname {
    font-weight: bold;
    padding: 20px;
}

.line {
    border: 1px solid #f4f4f4;
}

.deletebutton {
    float: right;
    padding: 12px 20px;
    border: none;
    background-color: #f7ca18;
    margin-top: -5px;
    border-radius: 5px;
    cursor: pointer;
}

.deletebutton:hover {
    background-color: #ffc06d;
}

.comoleted {
    text-decoration: line-through;
}